<p class="text-center text-muted">
	© Copyright
	<script>
		document.write(new Date().getFullYear());
	</script>
	by <a href="https://Jodu555.de">Jodu555</a> / <a href="https://jodu555.de/imprint">Impressum</a> /
	<a href="https://jodu555.de/privacy">Privacy Policy</a>
</p>
