<nav
	class="navbar navbar-expand-lg navbar-light bg-light"
	style="background-color: #dbf9ff !important"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="#"
			><img src="https://images.jodu555.de/ez-uploader.png" alt=""
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav mb-2 mb-lg-0"
				id="navFiller"
				style="margin-right: calc(50vw / 4.9)"
			></ul>
			<form class="d-flex me-auto">
				<input
					id="nameSearch"
					class="form-control me-1"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<button class="btn btn-outline-success" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav>

<div
	class="offcanvas offcanvas-end"
	tabindex="-1"
	id="offcanvasProfile"
	aria-labelledby="offcanvasProfileLabel"
>
	<div class="offcanvas-header">
		<h5 id="offcanvasProfileLabel">Profile Information</h5>
		<button
			type="button"
			class="btn-close text-reset"
			data-bs-dismiss="offcanvas"
			aria-label="Close"
		></button>
	</div>
	<div class="offcanvas-body">...</div>
</div>

<script src="http://docs.jodu555.de/utils/utils.js"></script>

<script>
	const navigation = [
		{ page: ['index', '/'], display: 'Home' },
		{ page: 'discover', display: 'Discover' },
		{ page: 'uploader', display: 'Upload' },
		{ page: 'myspace', display: 'MySpace' },
	];

	const currentPage = getCurrentPage();

	generateNavBar('#navFiller', navigation);

	renderLoginOrProfile();

	// <!-- <a class="btn btn-outline-info">Login</a> -->
	// 		<!-- <a class="navbar-brand" href="#">
	// 			<img src="https://images.jodu555.de/Avatar-M.png" alt="" width="48" height="48"
	// 		/></a> -->

	function renderLoginOrProfile() {
		const navbarSupportedContent = document.querySelector('#navbarSupportedContent');
		if (getCookie('auth-token')) {
		} else {
			const a = document.createElement('a');
			a.classList.add('btn', 'btn-outline-info');
			a.innerText = 'Login';
			navbarSupportedContent.appendChild(a);
		}
	}

	function getCurrentPage() {
		const path = window.location.pathname;
		let out;
		navigation.forEach((nav) => {
			if (
				(Array.isArray(nav.page) && nav.page.includes(path)) ||
				nav.page == path ||
				'/' + nav.page == path
			)
				out = nav;
		});
		return out;
	}

	function generateNavBar(selector, navigation) {
		const element = document.querySelector(selector);
		navigation.forEach((nav) => {
			const li = document.createElement('li');
			li.classList.add('nav-item');
			const a = document.createElement('a');
			a.classList.add('nav-link');
			if (currentPage && currentPage.display == nav.display) a.classList.add('active');
			a.href = Array.isArray(nav.page) ? nav.page[nav.page.length - 1] : nav.page;
			a.innerText = nav.display;
			li.appendChild(a);
			element.appendChild(li);
		});
	}
</script>
