<nav
	class="navbar navbar-expand-lg navbar-light bg-light"
	style="background-color: #dbf9ff !important"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="#"
			><img src="https://images.jodu555.de/ez-uploader.png" alt=""
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav mb-2 mb-lg-0"
				id="navFiller"
				style="margin-right: calc(50vw / 4.9)"
			></ul>
			<form class="d-flex me-auto">
				<input
					id="nameSearch"
					class="form-control me-1"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<button class="btn btn-outline-success" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
			<a class="navbar-brand" href="#">
				<img src="https://images.jodu555.de/Avatar-M.png" alt="" width="48" height="48"
			/></a>
		</div>
	</div>
</nav>

<script>
	let currentPage;
	const navigation = [
		{ page: ['index', '/'], display: 'Home' },
		{ page: 'discover', display: 'Discover' },
	];
	{
		const navFiller = document.querySelector('#navFiller');

		const path = window.location.pathname;
		navigation.forEach((nav) => {
			if ((Array.isArray(nav.page) && nav.page.includes(path)) || nav.page == path)
				currentPage = nav;
		});

		navigation.forEach((nav) => {
			const li = document.createElement('li');
			li.classList.add('nav-item');
			const a = document.createElement('a');
			a.classList.add('nav-link');
			if (currentPage.display == nav.display) a.classList.add('active');
			a.href = Array.isArray(nav.page) ? nav.page[nav.page.length - 1] : nav.page;
			a.innerText = nav.display;
			li.appendChild(a);
			navFiller.appendChild(li);
			console.log(a.href);
		});
		// navFiller.innerHTML = `
		// 		<li class="nav-item">
		// 			<a class="nav-link ${currentPage.display == 'Home' ? 'active' : ''}" href="#">Home</a>
		// 		</li>
		// 		<li class="nav-item">
		// 			<a class="nav-link ${currentPage.display == 'Discover' ? 'active' : ''}" href="#">Discover</a>
		// 		</li>
		// 		<li class="nav-item">
		// 			<a class="nav-link ${currentPage.display == 'Upload' ? 'active' : ''}" href="#">Upload</a>
		// 		</li>
		// 		<li class="nav-item">
		// 			<a class="nav-link ${currentPage.display == 'MySpace' ? 'active' : ''}" href="#">My Space</a>
		// 		</li>`;
	}
</script>
