<nav
	class="navbar navbar-expand-lg navbar-light bg-light"
	style="background-color: #dbf9ff !important"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="#"
			><img src="https://images.jodu555.de/ez-uploader.png" alt=""
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav mb-2 mb-lg-0"
				id="navFiller"
				style="margin-right: calc(50vw / 4.9)"
			></ul>
			<form class="d-flex me-auto">
				<input
					id="nameSearch"
					class="form-control me-1"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<button class="btn btn-outline-success" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav>

<div id="alertIfPageRequiresLogin" style="display: none" class="container py-5 col-lg-6 mx-auto">
	<div class="alert alert-danger">
		<h5 class="text-center">You must be logged in to see this Page!</h5>
	</div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasProfile">
	<div class="offcanvas-header">
		<h5>Profile Information</h5>
		<button
			type="button"
			class="btn-close text-reset"
			data-bs-dismiss="offcanvas"
			aria-label="Close"
		></button>
	</div>
	<div class="offcanvas-body">
		<div class="d-grid gap-2">
			<dl class="row shadow p-3 mb-4 bg-body rounded">
				<h4>Infos:</h4>
				<dt class="col-sm-3">Username:</dt>
				<dd class="col-sm-9"><span id="username"></span></dd>
				<dt class="col-sm-3">E-Mail:</dt>
				<dd class="col-sm-9"><span id="email"></span></dd>
			</dl>

			<div class="alert" id="settingsAlert"></div>

			<div class="row shadow p-3 mb-4 bg-body rounded">
				<h4 class="mb-1">Settings:</h4>
				<div class="form-check form-switch mb-3">
					<input class="form-check-input" type="checkbox" role="switch" checked />
					<label class="form-check-label">Public Account</label>
				</div>
				<button class="btn btn-outline-success mb-5">Save</button>
				<div class="form-group mb-3" style="padding-left: 0px">
					<label>Your Private ShareX Upload Token</label>
					<div class="input-group">
						<input
							aria-describedby="tokenHelp"
							class="form-control"
							id="shareXToken"
							disabled
							type="password"
						/>
						<div class="input-group-addon">
							<button id="shareXTokenReveal" class="btn btn-outline-secondary">
								<i id="shareXTokenRevealIcon" class="fa fa-eye" aria-hidden="true"> </i>
							</button>
						</div>
					</div>
					<div id="tokenHelp" class="form-text">Do not share this token with others.</div>
				</div>
				<button id="regenerate" class="btn btn-outline-warning mb-4">Regenerate</button>
			</div>

			<button onclick="logout()" class="btn btn-block btn-outline-danger">Logout</button>
		</div>
	</div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasLogin" data-bs-backdrop="false">
	<div class="offcanvas-header">
		<h5>Login / Register</h5>
		<button
			type="button"
			class="btn-close text-reset"
			data-bs-dismiss="offcanvas"
			aria-label="Close"
		></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav nav-tabs text-center justify-content-center" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button
					class="nav-link active"
					data-bs-toggle="tab"
					data-bs-target="#login"
					type="button"
					role="tab"
					aria-controls="login"
					aria-selected="true"
				>
					Login
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button
					class="nav-link"
					data-bs-toggle="tab"
					data-bs-target="#register"
					type="button"
					role="tab"
					aria-controls="register"
					aria-selected="false"
				>
					Register
				</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
				<div id="loginAlert" style="display: none" class="alert"></div>
				<form class="mt-3" id="loginForm">
					<div class="mb-3">
						<label for="username" class="form-label">Username</label>
						<input
							required
							type="text"
							name="username"
							class="form-control"
							autocomplete="username"
						/>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input
							required
							type="password"
							name="password"
							autocomplete="current-password"
							class="form-control"
							id="password"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
			<div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
				<div id="registerAlert" style="display: none" class="alert"></div>
				<form class="mt-3" id="registerForm">
					<div class="mb-3">
						<label for="registerEmail" class="form-label">Email address</label>
						<input required type="email" name="email" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="registerUsername" class="form-label">Username</label>
						<input required type="text" name="username" autocomplete="off" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="registerPassword" class="form-label">Password</label>
						<input
							required
							type="password"
							name="password"
							autocomplete="off"
							class="form-control"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="http://docs.jodu555.de/utils/utils.js"></script>
<script src="utils.js"></script>

<script>
	const navigation = [
		{ page: ['index', '/'], display: 'Home', login: false },
		{ page: 'discover', display: 'Discover', login: false },
		{ page: 'uploader', display: 'Upload', login: true },
		{ page: 'myspace', display: 'MySpace', login: true },
	];
	const loginForm = document.querySelector('#loginForm');
	const registerForm = document.querySelector('#registerForm');

	const currentPage = getCurrentPage();

	const account = getCookie('auth-token') ? getUser() : null;

	async function getUser() {
		const response = await get('profile');
		if (!response.success) return logout();
		return response.json;
	}

	registerForm.addEventListener('submit', async (e) => {
		e.preventDefault();
		const obj = formDataToObject(new FormData(registerForm));
		const response = await post('auth/register', JSON.stringify(obj), true);
		alert(
			'#registerAlert',
			response.success,
			!response.success ? response.error : 'Successfully registered!'
		);
		if (response.success) registerForm.reset();
	});

	loginForm.addEventListener('submit', async (e) => {
		e.preventDefault();
		const obj = formDataToObject(new FormData(loginForm));
		const response = await post('auth/login', JSON.stringify(obj), true);
		alert(
			'#loginAlert',
			response.success,
			!response.success ? response.error : 'Successfully Logged In!',
			() => {
				if (response.success) {
					setCookie('auth-token', response.json.token, 30);
					window.location.reload();
				}
			},
			1500
		);
		if (response.success) loginForm.reset();
	});

	document.querySelector('#shareXTokenReveal').addEventListener('click', () => {
		const input = document.querySelector('#shareXToken');
		const icon = document.querySelector('#shareXTokenRevealIcon');
		icon.classList.remove('fa-eye-slash', 'fa-eye');
		if (input.type == 'text') {
			input.type = 'password';
			icon.classList.add('fa-eye');
			return;
		} else {
			input.type = 'text';
			icon.classList.add('fa-eye-slash');
			return;
		}
	});

	document.querySelector('#regenerate').addEventListener('click', async () => {
		const response = await get('auth/regen');
		if (!response.success) {
			alert('#settingsAlert', response.success, response.error);
			return;
		} else {
			alert('#settingsAlert', response.success, 'Regenerated the ShareXToken!', async () => {
				(await account).shareXUploadToken = response.json[0].shareXUploadToken;
				await fillProfileSettings();
			});
			return;
		}
	});

	(async () => {
		generateNavBar('#navFiller', navigation);
		renderLoginOrProfile();
		if (await account) {
			if (currentPage.login) {
				document.querySelector('#alertIfPageRequiresLogin').style.display = 'none';
				document.querySelector('#content').style.display = '';
			}
			await fillProfileSettings();
		} else {
			if (!currentPage.login) {
				return;
			}
			document.querySelector('#alertIfPageRequiresLogin').style.display = '';
			if (document.querySelector('#content'))
				document.querySelector('#content').style.display = 'none';

			const loginProt = setInterval(() => {
				if (document.querySelector('#content')) {
					clearInterval(loginProt);
					document.querySelector('#content').style.display = 'none';
				}
			}, 1);
		}
	})();

	async function fillProfileSettings() {
		document.querySelector('#username').innerText = (await account).username;
		document.querySelector('#email').innerText = (await account).email;
		document.querySelector('#shareXToken').value = (await account).shareXUploadToken; //TODO: Implement the code to get the shareX TOken
	}

	function logout() {
		deleteCookie('auth-token');
		window.location.reload();
	}

	function renderLoginOrProfile() {
		const navbarSupportedContent = document.querySelector('#navbarSupportedContent');
		if (getCookie('auth-token')) {
			const a = document.createElement('a');
			a.href = '#';
			a.classList.add('navbar-brand');
			a.innerHTML =
				'<img src="https://images.jodu555.de/Avatar-M.png" alt="" width="48" height="48"/>';
			addCanvasToggle(a, '#offcanvasProfile');
			navbarSupportedContent.appendChild(a);
		} else {
			const a = document.createElement('a');
			a.classList.add('btn', 'btn-outline-info');
			a.innerText = 'Login / Register';
			addCanvasToggle(a, '#offcanvasLogin');
			navbarSupportedContent.appendChild(a);
		}
	}

	function addCanvasToggle(element, id) {
		element.setAttribute('data-bs-toggle', 'offcanvas');
		element.setAttribute('data-bs-target', id);
		element.setAttribute('aria-controls', id);
	}

	function getCurrentPage() {
		const path = window.location.pathname;
		let out;
		navigation.forEach((nav) => {
			if (
				(Array.isArray(nav.page) && nav.page.includes(path)) ||
				nav.page == path ||
				'/' + nav.page == path
			)
				out = nav;
		});
		return out;
	}

	function generateNavBar(selector, navigation) {
		const element = document.querySelector(selector);
		navigation.forEach((nav) => {
			const li = document.createElement('li');
			li.classList.add('nav-item');
			const a = document.createElement('a');
			a.classList.add('nav-link');
			if (currentPage && currentPage.display == nav.display) a.classList.add('active');
			a.href = Array.isArray(nav.page) ? nav.page[nav.page.length - 1] : nav.page;
			a.innerText = nav.display;
			li.appendChild(a);
			element.appendChild(li);
		});
	}
</script>
