<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<header><%- include('../partials/header'); %></header>
	<body>
		<main class="container">
			<h1 style="margin-top: 40vh; margin-bottom: 10vh" class="text-center">
				This is not the page To Go!
			</h1>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
	<%- include('../partials/scripts'); %>
</html>
