<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<header><%- include('../partials/header'); %></header>
	<body>
		<main class="container"></main>
		<footer class="footer"><%- include('../partials/footer'); %></footer>
	</body>
	<%- include('../partials/scripts'); %>
	<script></script>
</html>
