<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
		<style>
			.draggable {
				cursor: move;
			}

			.draggable.dragging {
				opacity: 0.5;
			}
			.preview-image {
				height: auto;
				width: 5vw;
			}
			.preview-folder {
				font-size: 4vw;
			}
			#tabelPlace tr {
				cursor: pointer;
			}
		</style>
	</head>
	<header><%- include('../partials/header'); %></header>
	<body>
		<main class="container">
			<div class="alert" id="genInfoAlert"></div>
			<div class="container">
				<a
					class="btn btn-outline-success"
					data-bs-toggle="offcanvas"
					href="#offCanvasCreateFolder"
					role="button"
					aria-controls="offCanvasCreateFolder"
				>
					<i class="fas fa-folder-plus" style="font-size: 4vh"></i> Add Folder
				</a>
			</div>
			<div class="row">
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Preview</th>
								<th scope="col">Name</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody id="tabelPlace"></tbody>
					</table>
				</div>
				<div class="col-3"></div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
	<%- include('../partials/scripts'); %>
	<script src="dragDrop.js"></script>
	<script>
		let ROOTUUID;
		function loadEntrys(params) {}

		async function getRootFolder() {
			if (ROOTUUID) return ROOTUUID;
			const response = await get('folder');
			if (!response.success) {
				alert('#genInfoAlert', response.success, response.josn.error.message);
				return;
			}
			response.json.forEach((dir) => {
				if (dir.name == 'ROOT') ROOTUUID = dir.UUID;
			});
			return ROOTUUID;
		}
		async function loadFolders() {
			await getRootFolder();
			const response = await get('folder/' + ROOTUUID);
			if (!response.success) {
				alert('#genInfoAlert', response.success, response.josn.error.message);
				return;
			}
			response.json.forEach((dir) => {
				console.log(dir);
			});
		}

		(async () => {
			loadFolders();
		})();

		initDragDrop();
	</script>
</html>
